[Unit]
Description=Daily Store Database Backup Timer
Requires=store-db-backup.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target